@font-face {
  font-family: "RixInooAriDuriR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
.Header h1 {
  font-family: "RixInooAriDuriR";
  color: #1f93ff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* letter-spacing: 2px; */
  /* line-height: 1.5; */
}
.Header h1 span {
  text-shadow: none;
}
