.App {
  text-align: center;
  height: 100vh;
  background: url("https://cdn.dribbble.com/users/2458996/screenshots/8214653/media/0ffd5a37ec3379ccb089416cd1d09840.gif")
    center no-repeat;
  background-size: auto 170%;
}
